/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 16px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.logo-text {
    font-size: 24px;
    color: #f5f5f5;
}

.main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.stock-container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

form input {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}

form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: #f5f5f5;
    cursor: pointer;
}

form button:hover {
    background-color: green;
}

#stockData p {
    margin: 10px 0;
}

/* Footer */
footer {
    background-color: #333;
    color: #f5f5f5;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
