/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-image: url('images/Background image.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
}

header {
    background-color: green;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 50px; /* Adjust size as needed */
    height: auto;
    margin-right: 10px;
}

.logo-text {
    margin: 0;
    font-size: 24px; /* Adjust font size as needed */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline;
    margin-right: 20px;
}

ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

ul li a.button {
    background-color: #333;
    padding: 8px 15px;
    border-radius: 5px;
}

.container {
    width: 400px;
    max-width: 90%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: green;
    outline: none;
}

button {
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: green;
}

.signup-link,
.login-link {
    text-align: center;
    margin-top: 15px;
    color: #333;
}

.signup-link a,
.login-link a {
    color: green;
    text-decoration: none;
}

.signup-link a:hover,
.login-link a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin-top: auto;
}
.social-login{
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}
.social-login i{
    margin-right: 10px;
}
.social-login.Google {
    background-color: #d13123;
    color: white;
}

.social-login.microsoft {
    background-color: #0078d4;
    color: white;
}

.social-login.apple {
    background-color: #000;
    color: white;
}